/* {
font-family: 'Source Sans Pro', sans-serif;
} */
h1{
    font-weight: 700;
    text-align: center;
    font-size: 75px;
    font-family: serif;
    color: #d4d4e2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    margin-top: 75px;
    margin-bottom: 0px;
    text-align: center;
    color: #d4d4e2;
}
h3{
    color: #d4d4e2;
}
body{
    background-color: white;
    color: #9999a7;
    font-family: Arial, Helvetica, sans-serif;
}
.page{
    width: 1600px;    
    background-color: #121212;   
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container{
    width: 100%;
}.heading-container{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}.center-text{
    text-align: center;
}
.container{
    background-color: #121212;

}.container2{
    background-color:#222324;
}
.description h2, h1{
margin-top:0px;
}
.description-right {
padding-left: 20px;
background-color:#222324;
}
.description-left{
padding-right: 100px;
background-color:#222324;
}.description-center{
    text-align: center;
    background-color:#222324;
}
.pure-g{
margin-bottom: 25px;
}
.small-font{
    font-size: 14px;
}.map-container{
    width: 100;
}
